.vs
bin
build
foobar2000/foo_input_validator
foobar2000/foo_sample
foobar2000/foobar2000_component_client
foobar2000/helpers
foobar2000/SDK
foobar2000/shared
libPPUI
pfc
WTL
sdk-license.txt
sdk-readme.html
foo_SDK.VC.db
